ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: right;
    width: 100%;
}

li {
    float: right;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #E8EEF1;
    font-size: 115%;
}

li a.nav-link:hover {
    color: #43B0F1;
    transition: 0.3s;
}

.top-icon {
    float: left;
}