* {
    margin: auto 0;
    color: #e8eef1;
}

body {
    margin: 0 10%;
    background-color: #1e3d58;
}

.monospace {
    font-family: 'Fira Code', monospace;
}

.sans-serif {
    font-family: 'Poppins', sans-serif;
}

#home {
    margin-top: 20%;
    margin-bottom: 20%;
    line-height: 400%;
}